.nav-container {
  height: 60px;
  padding: 1rem 0;
  @media (max-width: 380px) {
    height: 50px;
  }
  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 380px) {
      padding: 1px 0px;
    }
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    .language {
      font-size: 14px;
      cursor: pointer;
      @media (max-width: 380px) {
        display: none;
      }
    }
    .search-container {
      border: 0.5px solid lightgray;
      display: flex;
      align-items: center;
      margin-left: 25px;
      padding: 5px;
      input {
        border: none;
        @media (max-width: 380px) {
          width: 50px;
        }
      }
    }
  }
  .center {
    flex: 1;
    text-align: center;
    h1 {
      font-weight: bold;
      @media (max-width: 380px) {
        font-size: 24px;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    @media (max-width: 380px) {
      justify-content: center;
      flex: 2;
    }
    .menuItem {
      font-size: 14px;
      cursor: pointer;
      margin-left: 25px;
      @media (max-width: 380px) {
        font-size: 12px;
        margin-left: 10px;
        flex: 4;
      }
    }
  }
}
.announcement-container {
  height: 30px;
  background-color: teal;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
