.newsLetter {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;

  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    @media (max-width: 380px) {
      text-align: center;
    }
  }
  .input-box {
    width: 50%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    @media (max-width: 380px) {
      width: 80%;
    }
    input {
      border: none;
      flex: 8;
      padding-left: 20px;
    }
    button {
      flex: 1;
      border: none;
      background-color: teal;
      color: #fff;
    }
  }
}
